.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #7b6bf0;
}

.navbar-brand {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.navbar-brand.active {
  font-weight: bold;
}

.main-content {
  padding: 20px;
}
.square-btn {
  height: 200px; 
  width: 200px; 
}
.container {
  height: 100vh; 
  display: flex; 
  justify-content: center; 
}
h2 {
  color: #333;
  font-size: 28px; 
  font-weight: bold; 
}
.custom-button {
  background-color: #7b6bf0;
  width: 200px; 

}
/* DASHBOARD BUTTON*/
.custom-button:hover {
  background-color: #6553eb; 
}
.custom-button:active {
  background-color: #6553eb; 
}
.custom-button:focus {
  background-color: #6553eb; 
}
/* ADD BUTTON*/
.custom-add-button {
  background-color: #7b6bf0;
  width: 100px; 
}
.custom-add-button:hover {
  background-color: #6553eb; 
}
.custom-add-button:active {
  background-color: #6553eb; 
}
.custom-add-button:focus {
  background-color: #6553eb; 
}
/* FORM */
.form-container {
  width: 400px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  flex: 0 0 120px;
  margin-right: 0px; 
}

.form-group input,
.form-group select {
  flex: 1;
}